/* CSS declarations go here */
.ticket {border: solid; cursor: pointer; height: 100%; width: 50px; text-align: center;}
.ticket span {font-size: xx-large;}

.fix-div{position:fixed; height:100%; width:100%; left:0; top:0; z-index:1;}
#wrapper-menu{position:relative; z-index:2; margin:43% 0 0; background: url(../img/pattern-4qx8.png); opacity: 0.99;}
th {font-size: 1.2em;}
.table__caption{font-size: 2em;}
.notes {color: #F00000;}
tr {background-color: white;}
.on_cell{background-color: #c0c0c0;}
.fill_cell{background-color: #9bc949;}